body {
    color: #6b6b6b;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 200;
    font-size: 3.5vw;
}

.sidebar-logo {
	margin-top: 20px;
}

.arrow{
	
	max-width: 70px;
}

.no-padding {
	padding: 0;
}

.arrow img{
	
	min-width: 30px;
	
}

.location-list {
	padding-top: 20px;
	padding-left: 20px;  
	font-weight: 400;
  font-size: 3vh;
  
}

.location-list input {	
	font-weight: 400;
  font-size: 2.5vh;
}

.location-list li {	
	font-weight: 400;
  font-size: 2.5vh;
}

ul {
  padding-left: 20px;    
}


h2 {
    font-weight: 300;
    font-size: 2em;
}

h3 {
    font-weight: 300;
    font-size: 2em;
}

a {
    color: blue;
    font-weight: 300;
}

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

footer {
    color: blue;
}

